.container {
  position: relative;
  width: 960px;
  background: #fff;
  color: #333;
  padding: 10px;
}

table {
  width: 100%;
}

th,td {
  padding: 10px 5px;
}

.price-low {
  color: red;
  margin-left: 5px;
}

.price-high {
  color: green;
  margin-left: 5px;
}